
body {
  width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    background-image:url(br.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #0f0e0e; 
}


  h3 {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 20px; 
    color:white; 
  }
  h2 {
    
    margin-top: 20px; 
    margin-bottom: 20px; 
    color: #f3cf00;
  }
    h1 {
      background-color:hsl(0, 32%, 54%);
      text-align: center;
      padding: 2%; 
      border-radius:5cqi;
      margin-top: 0px; 
      margin-bottom: 0px; 
      color:white; 
    
  }
  h1 span{
    color: #ff7200;
  }
  p {
  padding: 20px solid;
    max-width: 100%;
    color:white; 
    margin-top: 30px;
    margin-bottom: auto;
    font-size: 18px;
    line-height: 1.5;
    
  }
  img {
  
    max-width: 100%;
    max-height: 100%;
    height: auto;
    float: left; 
    margin: right 30px;
    margin-bottom: auto; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
  
  }
  
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  
  
  form {
    margin-top: 20px;
    text-align: left; 
  }
  
  
  input, select {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  button {
    width: 100%;
    padding: 15px;
    background-color: #684ebc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  
  }
  
  input[name="comment"] {
    width: 90%;
    height: 0%;
    padding: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  
  @media screen and (max-width: 400px) {
    .container {
      max-width: 90%;
    }
  
}

  
  